.full-width-container {
    width: 100%; /* Full width of the screen */
    padding: 50px 0; /* Vertical padding only */
    border: 1px solid blue; /* For visibility */
    position: relative; /* To position children absolutely if needed */
}

.logo-wrapper {
    position: absolute; /* Positions the logo to the far left */
    left: 0;
    top: 50px; /* Adjust according to padding */
}

.logo {
    max-width: 2.5%; /* Adjust as needed */
    max-height: 2.5%; /* Adjust as needed */
}

.logo-text {
    position: absolute; /* Positions the text next to the logo */
    left: calc(2.5% + 10px); /* Logo width + 10px space */
    top: 50px; /* Adjust according to padding */
    color: white;
    font-family: "Inter", serif;
    font-size: 17px;
    font-weight: 200;
    line-height: 24px;
}