body {
    background-color: #080808;
    margin: 0;
    padding: 0;   
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */ 
}

.container {
    max-width: 720px;
    margin: 0 auto; 
    box-sizing: border-box;
    padding: 20px;
}

p {
    color: white;
    display: block;
    font-family: "Inter", serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
}

.logo-container {
    display: flex;
    align-items: left;
    justify-content: left;
    overflow: hidden;
    padding-bottom:50px;
  }
  
  .logo {
    max-width: 5%;
    max-height: 5%;
  }