body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    /* Removed flex display and set height to auto */
}

.container {
    max-width: 720px;
    margin: 0 auto; /* Center the container */
    box-sizing: border-box;
    /* Add padding to ensure content doesn't stick to the edges */
    padding: 20px;
}

.logo-box {
    width: 100%;
    max-width: 720px;
    height: 0;
    padding-bottom: 67.77%; 
    border-radius: 10px; 
    background-image: url('Screenshot\ 2025-01-21\ at\ 11.15.03.png'); /* Replace with your image path */
    background-size: cover; /* This ensures the image covers the entire area */
    background-position: center; /* Centers the image if cover distorts it */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    margin-bottom: 20px; 
}

h1 {
    font-size: 40px;
    font-weight: 500;
    height: 138px;
    letter-spacing: -0.8px;
    line-height: 46px;
    color: white;
}


.author-date {
    width: 100%; /* Takes up full width of the parent */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: grey; /* Default text color for labels */
    font-size: 16px;
}

.author-date .left .right {
    width: 50%;
}

.right {
    width: 50%;
    text-align: right;
}

.author-date .label {
    margin: 0; /* Remove any default margin */
}

.author-date .name {
    color: white;
    margin-top: 4px; /* Remove any default margin */
}